<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%= project_name %></title>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/bower_components/pikaday/css/pikaday.css">

        <script type="text/javascript" src='http://localhost:35729/livereload.js'></script>

        <script type="text/javascript">
            var ENV = {
                'permissions': '<%= test %>'
            } 
        </script>
    </head>
    <body>

    <script type="text/x-handlebars">
        {{#if isLoggedIn}}
            <button class="link login" {{action logout}}>Logout</button>
        {{/if}}
        <h1><%= project_name %></h1>
        {{#if error}}
            <div class="error">
                {{error}}
                <button {{action reload}}>Reload</button>
            </div>
        {{/if}}

        {{outlet}}
    </script>

    <script type="text/x-handlebars", data-template-name='login'>
        <form>
            <fieldset>
                <label>Password</label>
                {{message}}
                {{input value=password type='password'}}
            </fieldset>
            <fieldset>
                <button class="btn" {{action 'attemptLogin' password}}>Login</button>
                {{input name='persist' checked=persistLogin type='checkbox'}}
                <label for='persist'>Keep me logged in</label>
            </fieldset>
        </form>
    </script>

    <script type="text/x-handlebars" data-template-name='components/x-pikaday'>
        {{input value=formatted placeholder=placeholder}}
    </script>

    <script type="text/x-handlebars" data-template-name='timeline'>
        {{#if controllers.application.isAdmin}}
            {{#unless isEditingNode}}
                <div class="tl-node--new">
                    <button class="btn" {{action 'newNode'}}>
                        +
                    </button>
                </div>
            {{/unless}}
        {{/if}}
        <ol class="timeline">
            {{#each nodes}}
                {{#if isEditing}}
                    {{#view App.NodeEditView}}
                        <li class="tl-node">
                            <form class='form'>
                                <fieldset class='form__date'>
                                    {{x-pikaday name='date' epoch=epoch placeholder='When did it happen?'}}
                                </fieldset>
                                <fieldset class='form__content'>
                                    {{input value=content placeholder="e.g. Project kickoff meeting" class='size100'}}
                                </fieldset>
                                <fieldset class='form__link'>
                                {{input value=linkText placeholder="Link text"}}
                                {{input value=linkUrl placeholder='URL'}}
                                </fieldset>
                            </form>

                            <div>
                                <button class="btn btn--success" {{bindAttr disabled='isInvalid'}} {{action 'saveNode' this}}>Save</button>
                                <button class="btn" {{action 'cancelNode' this}}>Cancel</button>
                                {{#unless controller.isNewNode}}
                                    <button class="btn btn--danger pull-right" {{action 'deleteNode' this}}>Delete</button>
                                {{/unless}}
                            </div>
                        </li>
                    {{/view}}
                {{else}}
                    <li class="tl-node">
                        {{#if controller.isAdmin}}
                            <button class="showHover link pull-right small" {{action 'editNode' this}}>Edit</button>
                        {{/if}}
                        <div class="tl-stamp">{{date epoch}}</div>
                        <div class="tl-content">{{content}}</div>
                        <a {{bindAttr href='properLink'}}>{{linkText}}</a>
                    </li>
                {{/if}}
            {{/each}}
        </ol>
    </script>


    <script src="/bower_components/ember-starter-kit/js/libs/jquery-1.10.2.js"></script>
    <script src="/bower_components/ember-starter-kit/js/libs/handlebars-1.1.2.js"></script>
    <script src="/bower_components/ember-starter-kit/js/libs/ember-1.2.0.js"></script>
    <script src="/node_modules/moment/moment.js"></script>
    <script src="/bower_components/pikaday/pikaday.js"></script>
    <script src="/app.js?v0.1"></script>

    </body>
</html>