<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>[Project Name] Project Timeline</title>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" type="text/css" href="css/style.css" media="all" />
    </head>
    <body>

    <script type="text/x-handlebars">
        <h1>WIP Project Timeline</h1>
        {{#unless isNewNode}}
            <div class="tl-node--new">
                <button class="btn" {{action 'newNode'}}>
                    +
                </button>
            </div>
        {{/unless}}
        <ol class="timeline">
            {{#each nodes}}
                {{#if isEditing}}
                    <li class="tl-node">
                        <div class="tl-stamp">
                            {{input value=date placeholder='Date, e.g. Dec 18th 2013'}}
                        </div>
                        <div class="tl-content">
                            {{#view App.InstantFocusView}}
                                {{textarea value=content placeholder="e.g. Project kickoff meeting"}}
                            {{/view}}
                        </div>

                        <div class='link'>
                            {{input class='size30 pull-left'value=linkUrl placeholder='URL'}}
                            {{input class='size70 pull-left'value=linkText placeholder="What's at that URL?"}}
                        </div>

                        
                        <div>
                            <button class="btn" {{bindAttr disabled='isInvalid'}} {{action 'saveNode' this}}>Save</button>
                            <button class="btn" {{action 'cancelNode' this}}>Cancel</button>
                            {{#unless controller.isNewNode}}
                                <button class="btn pull-right" {{action 'deleteNode' this}}>Delete</button>
                            {{/unless}}
                        </div>
                    </li>
                {{else}}
                    <li class="tl-node">
                    <button class="showHover btn pull-right small" {{action 'editNode' this}}>Edit</button>
                        <div class="tl-stamp">{{date}}</div>
                        <div class="tl-content">{{content}}</div>
                        <a {{bindAttr href='linkUrl'}}>{{linkText}}</a>
                    </li>
                {{/if}}
            {{/each}}
        </ol>
    </script>


    <script src="bower_components/ember-starter-kit/js/libs/jquery-1.10.2.js"></script>
    <script src="bower_components/ember-starter-kit/js/libs/handlebars-1.1.2.js"></script>
    <script src="bower_components/ember-starter-kit/js/libs/ember-1.2.0.js"></script>
    <script src="bower_components/momentjs/min/moment.min.js"></script>
    <script src="app.js"></script>

    </body>
</html>