<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%= project_name %></title>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" media="all" />
    </head>
    <body>
        <a class='login' href="/edit">Login</a>
        <h1><%= project_name %></h1>

        <ol class="timeline">
            <% for(var i=0; i < nodes.length; i++)
            { %>
                <li class="tl-node">
                    <div class="tl-stamp"><%= moment(parseFloat(nodes[i].epoch)).format('MMM Do YYYY') %></div>
                    <div class="tl-content"><%= nodes[i].content %></div>

                    <%if (nodes[i].properLink) {%>
                        <a href=<%= nodes[i].properLink %>>
                            <%= nodes[i].linkText %>
                        </a>
                    <%}%>

                    <%if (nodes[i].linkUrl) {%>
                        <a href=<%= nodes[i].linkUrl %>>
                            <%= nodes[i].linkText %>
                        </a>
                    <%}%>
                </li>
            <% } %>
        </ol>
    </script>

    </body>
</html>